<a href="https://colab.research.google.com/github/Akriti96/class130_Project/blob/main/Akkshar_c_130_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import csv 
import pandas as pd

df = pd.read_csv("total_stars.csv")
df.head()

   Unnamed: 0       Star_name     Distance  ... Distance.1 Mass.1 Radius.1
0           0             Sun  0.000015813  ...        NaN    NaN      NaN
1           1          Sirius       0008.6  ...        NaN    NaN      NaN
2           2         Canopus         0310  ...        NaN    NaN      NaN
3           3  Alpha Centauri       0004.4  ...        NaN    NaN      NaN
4           4        Arcturus         0037  ...        NaN    NaN      NaN

[5 rows x 11 columns]

In [2]:
df.columns

df.drop(["Unnamed: 0", "Luminosity", "Unnamed: 6", "Star_name.1", "Distance.1", "Mass.1", "Radius.1"], axis = 1, inplace = True)
print(df)

                  Star_name  ...               Radius
0                       Sun  ...                    1
1                    Sirius  ...                1.71´
2                   Canopus  ...                   71
3            Alpha Centauri  ...                  1.2
4                  Arcturus  ...                   26
..                      ...  ...                  ...
249  2MASSI J2356547-155310  ...  0.11201167000000001
250          WISE 0410+1502  ...  0.12023270999999998
251         WISE 0458+6434A  ...            0.4316046
252         WISE 0458+6434B  ...  0.39049939999999994
253          WISE 1405+5534  ...           0.08837618

[254 rows x 4 columns]

In [3]:
finalData = df.dropna(how='any')
print(finalData)

                  Star_name  ...               Radius
0                       Sun  ...                    1
1                    Sirius  ...                1.71´
2                   Canopus  ...                   71
3            Alpha Centauri  ...                  1.2
4                  Arcturus  ...                   26
..                      ...  ...                  ...
249  2MASSI J2356547-155310  ...  0.11201167000000001
250          WISE 0410+1502  ...  0.12023270999999998
251         WISE 0458+6434A  ...            0.4316046
252         WISE 0458+6434B  ...  0.39049939999999994
253          WISE 1405+5534  ...           0.08837618

[253 rows x 4 columns]

In [4]:
finalData.reset_index(drop = True, inplace = True)
finalData

                  Star_name  ...               Radius
0                       Sun  ...                    1
1                    Sirius  ...                1.71´
2                   Canopus  ...                   71
3            Alpha Centauri  ...                  1.2
4                  Arcturus  ...                   26
..                      ...  ...                  ...
248  2MASSI J2356547-155310  ...  0.11201167000000001
249          WISE 0410+1502  ...  0.12023270999999998
250         WISE 0458+6434A  ...            0.4316046
251         WISE 0458+6434B  ...  0.39049939999999994
252          WISE 1405+5534  ...           0.08837618

[253 rows x 4 columns]

In [5]:
from google.colab import files

finalData.to_csv("finalData.csv")
files.download("finalData.csv")